p {
    font-size: 30px;
    text-align: center;
}

button {
    font-size: 15px;
    /* padding: 20px 30px; */
    width: 80px;
    height: 80px;
}


input {
    height: 40px;
    width: 300px;
}
hr {
    max-width: 400px;    
}
.outputExpression {
    /* max-width: 300px; */
    height: 32px;
    font-weight: 300;
    font-size: 28px;
    text-align: right;
    /* margin-bottom: 25px; */
    letter-spacing: 2px;
}

.outputResult {
    /* max-width: 300px;     */
    height: 32px;    
    font-weight: 300;
    font-size: 32px;
    text-align: right;
    /* margin-bottom: 25px; */
    letter-spacing: 2px;
}
.canvas {
    max-width: 340px;
    top: 0px;
    margin: 10px auto;
    } 

.row {
    margin-bottom: 4px;
}

#equal{
    width: 164px;
}